*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

a{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #00425A;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html{
    scroll-behavior: smooth;
}

body{  
    font-family: 'Poppins', sans-serif;
    color: #00425A;
    background-image: url("../img/bannerContacto.jpg");
    background-repeat: no-repeat;
    background-position: center center; /*posiciones en el eje x e y resp*/
    background-attachment: fixed; /*para que al scrollear no se mueva la imagen de fondo*/
    background-size: cover;
}

#encabezado{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    color: #00425A;
    background-color: #EFF5F5;
    position: fixed;
    top: 0;
    z-index: 1000;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EFF5F5;
}

#formularioContacto{
    display: flex;
    justify-content: center;
    padding: 15px;
}

form{
    background-color: #EFF5F5;
    margin:0;
    border-radius: 20px;
}

span{
    color: rgb(217,48,37);
}

input{
    border: none;
    outline: none;
    padding: 10px;
    border: solid 1px #ccc;
}

textarea{
    border: none;
    outline: none;
    padding: 10px;
    border: solid 1px #ccc;  
}

.field{
    /*300px*/
   border-radius: 20px;
}

.field:focus{
   border-color: #1F8A70;
}

button{
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #EFF5F5;
    background-color: #1F8A70;
    border: none;
    border-radius: 20px;
}

button:hover{
    cursor: pointer;
}

.contacto{
    color: #EFF5F5;
}

.pie{
    color: #EFF5F5;
}

footer{
    background-color: #181823;
}

#redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#derechos{
    display: flex;
    text-align: center;
    align-items: center;
    color: #FC7300;
    /*width: 100%;*/
    height: 90%;
    padding: 10px;
    bottom: 0;
    left: 0;
}

@media (min-width: 320px){    
    body{
        font-size: 0.8rem;
    }

    #encabezado{
        height: 1.5rem; /*60px*/
    }

    a{
        font-size: 0.8rem;
    }

    .container{
        margin-top: 45px; /*para que toda la pag baje y se vea el menu completo*/
    }

    form{
        padding: 10px;/**/
        width: 15rem;
        border-radius: 20px;/**/
    }

    span{
        padding-left: 0.1em;
    }

    .field{
       width: 13.5rem;
       height: 1rem;
    }

    button{
        width: 20%;
        font-size: 0.6rem; /*10px*/
    }

    footer{
        /*height: 100%;
        display: flex;
        align-items: flex-end;*/
        padding: 10px;
    }
    
    #redes{
        /*width: 60%;*/
        font-size: 0.8rem;
        padding: 5px;
    }

    .pie{
        font-size: 0.7rem;
    }

    /*.contacto{
        font-size: 0.7rem;
    }

    i{
        font-size: 0.6rem; /*10px
    }*/

    #derechos{
        /*display: flex;
        justify-content: center;*/
        font-size: 0.6rem;
        /*width: 250%;*/
        margin-bottom: auto;
    }
}

@media (min-width: 768px){
    body{
        font-size: 1.05rem; /*19px*/
        /*min-height: 100vh; para que la imagen ocupe el 100% de la ventana*/
    }

    #encabezado{
        height: 2.5rem; /*60px*/
    }

    a{
        font-size: 1rem;
    }

    .container{
        margin-top: 60px; /*para que toda la pag baje y se vea el menu completo*/
    }

    form{
        padding: 15px;
        width: 15.5rem;/*300px*/
    }

    span{
        padding-left: 0.15em;
    }

    .field{
        /*300px*/
        width: 17rem;
        height: 1.3rem;
    }

    button{
        width: 30%;
        font-size: 1rem;
    }

    footer{
        /*display: flex;
        justify-content: space-around;
        text-align: center;*/
        padding: 10px;
    }
    
    #redes{
        /*display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;*/
        padding: 5px;
    }

    .pie{
        font-size: 1.1rem;
    }

    #derechos{
        /*display: flex;
        justify-content: center;*/
        font-size: 0.65rem;
        /*width: 250%;*/
        margin-bottom: auto;
    }  
}

@media (min-width: 1200px){
    body{
        font-size: 1.2rem; /*19px*/
        min-height: 100vh; /*para que la imagen ocupe el 100% de la ventana*/
    }

    #encabezado{
        height: 3.75rem; /*60px*/
    }

    a{
        font-size: 1.3rem; /*21px*/
    }

    .container{
        margin-top: 60px; /*para que toda la pag baje y se vea el menu completo*/
    }

    form{
        padding: 20px;
        width: 18.75rem;/*300px*/
    }

    span{
        padding-left: 0.25em;
    }

    #mensaje{
        /*min-height: 300px;
        max-height: 600px;*/
        resize: vertical;
    }

    .field{
        /*300px*/
       height: 100%;
    }

    button{
        width: 40%;
        font-size: 1.37rem; /*22px*/
    }

    /*#boton-enviar{
        display: flex;
        justify-content: center;
    }*/

    footer{
        padding: 20px;
    }
    
    #redes{
        font-size: 1.3rem;
        /*width: 30%;*/
        padding: 10px;
    }

    .pie{
        font-size: 1.5rem; /*25px*/
    }

    /*.contacto{
        font-size: 1.12rem; /*18px
    }

    i{
        font-size: 1.37rem; /*22px
    }*/

    /*.boton-arriba{
        background-color: #1F8A70;
        color: #EFF5F5;
    }*/

    #derechos{
        font-size: 1rem; /*16px*/
    } 
}